<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="container">
    <h2>Angular Reactive Form Validation</h2>
    <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="center-block">Name:
            <input class="form-control" formControlName="name">
          </label>
        </div>
        <div class="alert alert-danger" *ngIf="angForm.get('name').hasError('required') && angForm.get('name').touched && angForm.get('name').value ==''" >
          Name is required
      </div>
        <div class="form-group">
          <label class="center-block">Email:
            <input class="form-control" formControlName="email">
          </label>
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['email'].errors.required">
            Email is required.
          </div>
          <div *ngIf="angForm.controls['email'].errors.email">
            Email is invalid.
          </div>
        </div>

        <div class="form-group">
          <label class="center-block">City:
            <select class="form-control" formControlName="city">
              <option>Bharuch</option>
              <option>Vadodara</option>
              <option>Surat</option>
              </select>
          </label>
        </div>
        <div class="alert alert-danger" *ngIf="angForm.get('city').hasError('required') && angForm.get('city').touched && angForm.get('city').value ==''" >
          City is required
      </div>


      <div class="form-group">
            <label class="center-block">Date:
              <input type="date" class="form-control" formControlName="date">
            </label>
          </div>
          <div class="alert alert-danger" *ngIf="angForm.get('date').hasError('required') && angForm.get('date').touched && angForm.get('date').value ==''" >
            Date is required
        </div>
            
          <div class="form-group">
              <label class="center-block">Address:
               
                <textarea class="form-control" formControlName="address"></textarea>
              </label>
            </div>  
          
            <div class="alert alert-danger" *ngIf="angForm.get('address').hasError('required') && angForm.get('address').touched && angForm.get('address').value ==''" >
              Address is required
          </div>
          

            <div class="form-group">
                <label class="center-block">check:
                 
                    <input type="checkbox" formControlName="check" > check here<br>
                </label>
              </div>
            <!--   <div *ngIf="angForm.controls['check'].value == null || angForm.controls['check'].value === ''" class="alert alert-danger">
                  <div *ngIf="angForm.controls['check'].errors.required">
                  Address is required.
                </div>
              </div>  -->

  </form>
  <p>Form value: {{ angForm.value | json }}</p>
  <p>Form status: {{ angForm.status | json }}</p>
  </div>

<router-outlet></router-outlet>
